
*.docx
templates/meta-lab-questions/learn-metadata.json
templates/meta-lab/learn-metadata.json
templates/meta-lecture/learn-metadata.json
templates/meta-module/learn-metadata.json
templates/meta-quiz-match/learn-metadata.json
templates/meta-quiz-multiple/learn-metadata.json
templates/meta-quiz-single/learn-metadata.json
examples/exam-2.png
examples/exam-1.png
examples/5.4.2.png
examples/5.3.2.png
examples/4.1.3.png
examples/2.1.7.png
python
introduction-to-IoT/
4.1.6-packet-tracer-explore-the-smart-home.pka
02-everything-becomes-programmable/material-tags.json
02-everything-becomes-programmable/matchtest/imagematch/learn-metadata.json
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-9.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-8.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-7.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-6.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-5.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-4.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-3.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-2.png
02-everything-becomes-programmable/matchtest/imagematch/assets/2.1.9-1.png
02-everything-becomes-programmable/matchtest/flowchartmatch/learn-metadata.json
02-everything-becomes-programmable/matchtest/flowchartmatch/assets/2.1.7-1.png
02-everything-becomes-programmable/learn-metadata.json
02-everything-becomes-programmable/2.3/assets/2.3.1.jpg
02-everything-becomes-programmable/02.06.02-summary-quiz/learn-metadata.json
02-everything-becomes-programmable/02.06.02-summary-quiz/assets/2.6.2-3.JPG
02-everything-becomes-programmable/02.06.02-summary-quiz/assets/2.6.2-2.PNG
02-everything-becomes-programmable/02.06.02-summary-quiz/assets/2.6.2-1.PNG
02-everything-becomes-programmable/02.06-summary/README.md
02-everything-becomes-programmable/02.06-summary/learn-metadata.json
02-everything-becomes-programmable/02.05-prototyping-resources/README.md
02-everything-becomes-programmable/02.05-prototyping-resources/learn-metadata.json
02-everything-becomes-programmable/02.05-prototyping-resources/assets/2.5.5.png
02-everything-becomes-programmable/02.05-prototyping-resources/assets/2.5.1.jpg
02-everything-becomes-programmable/02.04-what-is-prototyping/README.md
02-everything-becomes-programmable/02.04-what-is-prototyping/learn-metadata.json
02-everything-becomes-programmable/02.04-what-is-prototyping/assets/2.4.2.jpg
02-everything-becomes-programmable/02.03.07-lab-create-a-simple-game-with-python/README.md
02-everything-becomes-programmable/02.03.07-lab-create-a-simple-game-with-python/learn-metadata.json
02-everything-becomes-programmable/02.03.06-lab-basic-python-programming/README.md
02-everything-becomes-programmable/02.03.06-lab-basic-python-programming/learn-metadata.json
02-everything-becomes-programmable/02.03-programming-with-python/README.md
02-everything-becomes-programmable/02.03-programming-with-python/learn-metadata.json
02-everything-becomes-programmable/02.03-programming-with-python/assets/2.3.1.jpg
02-everything-becomes-programmable/02.02.03-lab-blinking-an-led-using-blockly/README.md
02-everything-becomes-programmable/02.02.03-lab-blinking-an-led-using-blockly/learn-metadata.json
02-everything-becomes-programmable/02.02.03-lab-blinking-an-led-using-blockly/assets/topology.png
02-everything-becomes-programmable/02.02.03-lab-blinking-an-led-using-blockly/assets/2.2.3-packet-tracer-blink-an-led-using-blockly.pka
02-everything-becomes-programmable/02.02.03-lab-blinking-an-led-using-blockly/assets/2.2.3-2.png
02-everything-becomes-programmable/02.02.03-lab-blinking-an-led-using-blockly/assets/2.2.3-1.png
02-everything-becomes-programmable/02.02-basic-programming-using-blockly/README.md
02-everything-becomes-programmable/02.02-basic-programming-using-blockly/learn-metadata.json
02-everything-becomes-programmable/02.02-basic-programming-using-blockly/assets/2.2.2.jpg
02-everything-becomes-programmable/02.02-basic-programming-using-blockly/assets/2.2.1-2.png
02-everything-becomes-programmable/02.02-basic-programming-using-blockly/assets/2.2.1-1.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/warning.md
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/README.md
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/learn-metadata.json
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-9.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-8.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-7.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-6.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-5.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-4.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-3.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-2.png
02-everything-becomes-programmable/02.01.09-match-the-flowchart-symbol-to-the-task-quiz/assets/2.1.9-1.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/README.md
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/learn-metadata.json
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-8.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-7.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-6.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-5.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-4.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-3.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-2.png
02-everything-becomes-programmable/02.01.08-lab-create-a-process-flowchart/assets/2.1.8-1.png
02-everything-becomes-programmable/02.01.07-identify-programming-terms-quiz/learn-metadata.json
02-everything-becomes-programmable/02.01.07-identify-programming-terms-quiz/assets/2.1.7-3.png
02-everything-becomes-programmable/02.01.07-identify-programming-terms-quiz/assets/2.1.7-2.png
02-everything-becomes-programmable/02.01.07-identify-programming-terms-quiz/assets/2.1.7-1.png
02-everything-becomes-programmable/02.01.06-basic-programming-concepts-quiz/learn-metadata.json
02-everything-becomes-programmable/02.01.01-follow-the-flowchart-quiz/learn-metadata.json
02-everything-becomes-programmable/02.01.01-follow-the-flowchart-quiz/assets/2.1.1.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/README.md
02-everything-becomes-programmable/02.01-basic-programming-concepts/matchtest/learn-metadata.json
02-everything-becomes-programmable/02.01-basic-programming-concepts/matchtest/assets/2.1.7-1.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/learn-metadata.json
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-9.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-8.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-7.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-6.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-5.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-4.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-3.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-2.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.9-1.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-8.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-7.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-6.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-5.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-4.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-3.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-2.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.8-1.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.7-3.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.7-2.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.7-1.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.2.png
02-everything-becomes-programmable/02.01-basic-programming-concepts/assets/2.1.1.png
02-everything-becomes-programmable/02.00-introduction/README.md
02-everything-becomes-programmable/02.00-introduction/learn-metadata.json
02-everything-becomes-programmable/02.00-introduction/assets/2.0.1.png
04-everything-can-be-automated/04.03-intent-based-networking/assets/4.3.1 link.txt
